
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example Game</title>
    <link href="~/Styles/Style.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/Raspware.ExampleGame.js"></script>
</body>
</html>
