html, body, div, canvas {
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
}

html, body {
	background-color: #000000;
}

div {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #000;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}