<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Core" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Html5" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Min" version="16.7.1" targetFramework="net461" />
  <package id="Bridge.Newtonsoft.Json" version="1.5.0" targetFramework="net461" />
  <package id="ProductiveRage.Immutable" version="2.9.5" targetFramework="net461" />
</packages>